
html, body, #root {
  height: 100%;
  margin: 0;
}

body {
  background: #000000; 
}

#root {
  min-height: 100vh;
  min-width: none;
  display: grid;
  place-items: center;   
  padding: 24px;         
}


h1 { line-height: 1.2; }
